body {
    background-color: black;
}

/* Navbar Starts */

.navContainer {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 0 3%;
}

.navContainer img {
    width: 5rem;
    object-fit: contain;
    object-position: center;
}

.navContainer ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

/* Navbar Starts */

/* Home Section Starts */

.homeplanet {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.marsimg {
    z-index: 1;
    width: 40%;
}

.marstitle {
    position: absolute;
    width: 15%
}

.marstitle.ma {
    left: 21%;
}

.marstitle.rs {
    right: 21%;
}

/* Home Section Starts */


/* Utility */

.homescreen {
    max-width: 1440px; 
    margin: auto;
    margin-top: 5%;
}