@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;600&display=swap');

body {
    background-color: black;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

/* Navbar Starts */
.navBar {
    padding: 1.5rem 0;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    margin: 0 3%;
    position: relative;
    z-index: 3;
}

.navFont {
    font-weight: 200;
    padding: 0;
    margin: 0;
}

.navFont li {
    padding: 0.5rem;
}

.dropdown {
    cursor: pointer;
}

.navLink a, .dropdowndiv a {
    color: white;
    text-decoration: none;
}

.navContainer img {
    width: 5rem;
    object-fit: contain;
    object-position: center;
}

.navContainer ul {
    list-style-type: none;
    display: flex;
    gap: 4rem;
}


.dropdowndiv { 
    visibility: hidden; /* hides sub-menu */
    background-color:rgba(255, 255, 255, 0.24);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;
    opacity: 0;
    position: absolute;
    top: 100%;
    right: 6.5rem;
    transform: translateY(-1rem);
    text-align: center;
    padding: 0.8rem 1.5rem;
    transition: all 0.5s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    z-index: -1;
  }

  .navContainer:hover .dropdowndiv {
    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 2;
    transform: translateY(1rem);
    transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
  }

.dropdowndiv a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    padding-bottom: 0.5rem;
    width: 100%;
}



/* Navbar Starts */

/* Home Section Starts */

.homeplanet {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.marsimg {
    z-index: 1;
    width: 40%;
    animation: marsAni 2s ease-in;
    transition: all ease-in 3s, opacity ease-in 2s;
}

@keyframes marsAni {
    0% {
        transform: translateY(5rem) rotateZ(15deg);
        opacity: 0;
    }
    100% {
        transform: translateY(0) rotateZ(0deg);
        opacity: 1;
    }
}

.marstitle {
    position: absolute;
    width: 15%
}

.marstitle.ma {
    left: 21%;
}

.marstitle.rs {
    right: 21%;
}



/* Home Section Starts */


/* Utility */

.homescreen {
    max-width: 1440px; 
    margin: auto;
    margin-top: 5%;
}